body {
  background-image: url("./darkdesk.jpg");
  //background-color:#071952;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url("./mobilebg.jpg");
  }
}
